*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.site-footer .container-footer-content p{
    text-align: center;
    border-top: 2px solid #fff;
    padding: 15px;
}